---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
---

<Layout msg="Charlemos un rato">
    Aca deberia existir un formulario bonito
    <Button />
     <Button>
    </Button>
</Layout>